<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改【请填写功能名称】')" />
    <th:block th:include="include :: header('Summernote富文本编辑器')" />
    <th:block th:include="include :: summernote-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-team-edit" th:object="${tbWebsiteExperimentTeam}">
            <div class="form-group">
                <input name="id" th:field="*{id}" type="hidden">
                <label class="col-sm-3 control-label">实验队伍：</label>
                <div class="col-sm-9">
                    <input type="hidden" name="experimentTeam" id="experimentTeam"/>
                    <!--富文本数据-->
                    <div class="summernote" name="experimentTeam" id="summernote" th:utext ="${tbWebsiteExperimentTeam.experimentTeam}">

                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: summernote-js" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('.summernote').summernote({
                lang: 'zh-CN',
                height: '300px'
            });
        });

        var prefix = ctx + "website/experiment/team";
        $("#form-team-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                var id=$("#id").val();
                var summernote = $("#summernote").summernote('code');
                var data= {id:id,experimentTeam:summernote};
                $.operate.save1(prefix + "/edit",data);
            }
        }
    </script>
</body>
</html>