<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.experimentcheck.mapper.ExperimentCheckMapper">
    <resultMap type="ExperimentCheck" id="ExperimentCheckResult">
        <result property="id"    column="id"    />
        <result property="experimentName"    column="experiment_name"    />
        <result property="courseName"    column="course_name"    />
        <result property="experimentStatus"    column="experiment_status"    />
        <result property="checkStatus"    column="check_status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="userId"    column="user_id"    />
    </resultMap>
    <sql id="selectExperimentCheckVo">
        select id, experiment_name, course_name, experiment_status, check_status, create_time, update_time, user_id from tb_experiment_check
    </sql>

    <select id="selectExperimentCheckList" parameterType="ExperimentCheck" resultMap="ExperimentCheckResult">
        <include refid="selectExperimentCheckVo"/>
        <where>
            <if test="experimentName != null  and experimentName != ''"> and experiment_name like concat('%', #{experimentName}, '%')</if>
            <if test="courseName != null  and courseName != ''"> and course_name like concat('%', #{courseName}, '%')</if>
            <if test="experimentStatus != null  and experimentStatus != ''"> and experiment_status = #{experimentStatus}</if>
            <if test="checkStatus != null  and checkStatus != ''"> and check_status = #{checkStatus}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
        </where>
    </select>
</mapper>    
  