<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.jiaowu.plan.mapper.TbPlanMainMapper">
    
    <resultMap type="TbPlanMain" id="TbPlanMainResult">
        <result property="id"    column="id"    />
        <result property="planName"    column="plan_name"    />
        <result property="profession"    column="profession"    />
        <result property="version"    column="version"    />
        <result property="effectiveTime"    column="effective_time"    />
        <result property="totalScores"    column="total_scores"    />
        <result property="totalTime"    column="total_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTbPlanMainVo">
        select id, plan_name, profession, version, effective_time, total_scores, total_time, create_time, update_time from tb_plan_main
    </sql>

    <select id="selectTbPlanMainList" parameterType="TbPlanMain" resultMap="TbPlanMainResult">
        <include refid="selectTbPlanMainVo"/>
        <where>  
            <if test="planName != null  and planName != ''"> and plan_name like concat('%', #{planName}, '%')</if>
            <if test="profession != null  and profession != ''"> and profession = #{profession}</if>
            <if test="version != null  and version != ''"> and version = #{version}</if>
            <if test="effectiveTime != null "> and effective_time = #{effectiveTime}</if>
            <if test="totalScores != null  and totalScores != ''"> and total_scores = #{totalScores}</if>
            <if test="totalTime != null  and totalTime != ''"> and total_time = #{totalTime}</if>
        </where>
    </select>
    
    <select id="selectTbPlanMainById" parameterType="Long" resultMap="TbPlanMainResult">
        <include refid="selectTbPlanMainVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTbPlanMain" parameterType="TbPlanMain" useGeneratedKeys="true" keyProperty="id">
        insert into tb_plan_main
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="planName != null  and planName != ''">plan_name,</if>
            <if test="profession != null  and profession != ''">profession,</if>
            <if test="version != null  and version != ''">version,</if>
            <if test="effectiveTime != null ">effective_time,</if>
            <if test="totalScores != null  and totalScores != ''">total_scores,</if>
            <if test="totalTime != null  and totalTime != ''">total_time,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="planName != null  and planName != ''">#{planName},</if>
            <if test="profession != null  and profession != ''">#{profession},</if>
            <if test="version != null  and version != ''">#{version},</if>
            <if test="effectiveTime != null ">#{effectiveTime},</if>
            <if test="totalScores != null  and totalScores != ''">#{totalScores},</if>
            <if test="totalTime != null  and totalTime != ''">#{totalTime},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateTbPlanMain" parameterType="TbPlanMain">
        update tb_plan_main
        <trim prefix="SET" suffixOverrides=",">
            <if test="planName != null  and planName != ''">plan_name = #{planName},</if>
            <if test="profession != null  and profession != ''">profession = #{profession},</if>
            <if test="version != null  and version != ''">version = #{version},</if>
            <if test="effectiveTime != null ">effective_time = #{effectiveTime},</if>
            <if test="totalScores != null  and totalScores != ''">total_scores = #{totalScores},</if>
            <if test="totalTime != null  and totalTime != ''">total_time = #{totalTime},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTbPlanMainById" parameterType="Long">
        delete from tb_plan_main where id = #{id}
    </delete>

    <delete id="deleteTbPlanMainByIds" parameterType="String">
        delete from tb_plan_main where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>