<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.websitetype.mapper.TbWebsiteTypeMapper">
    <resultMap type="TbWebsiteType" id="TbWebsiteTypeResult">
        <result property="id"    column="id"    />
        <result property="websiteTypeName"    column="website_type_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTbWebsiteTypeVo">
        select id, website_type_name, create_time, update_time from tb_website_type
    </sql>

    <select id="selectTbWebsiteTypeList" parameterType="TbWebsiteType" resultMap="TbWebsiteTypeResult">
        <include refid="selectTbWebsiteTypeVo"/>
        <where>  
            <if test="websiteTypeName != null  and websiteTypeName != ''"> and website_type_name like concat('%', #{websiteTypeName}, '%')</if>
        </where>
    </select>
    
    <select id="selectTbWebsiteTypeById" parameterType="Long" resultMap="TbWebsiteTypeResult">
        <include refid="selectTbWebsiteTypeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTbWebsiteType" parameterType="TbWebsiteType" useGeneratedKeys="true" keyProperty="id">
        insert into tb_website_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="websiteTypeName != null  and websiteTypeName != ''">website_type_name,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="websiteTypeName != null  and websiteTypeName != ''">#{websiteTypeName},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateTbWebsiteType" parameterType="TbWebsiteType">
        update tb_website_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="websiteTypeName != null  and websiteTypeName != ''">website_type_name = #{websiteTypeName},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTbWebsiteTypeById" parameterType="Long">
        delete from tb_website_type where id = #{id}
    </delete>

    <delete id="deleteTbWebsiteTypeByIds" parameterType="String">
        delete from tb_website_type where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="findAllWebsiteTypeName" resultMap="TbWebsiteTypeResult">
        select id,website_type_name
        from tb_website_type
    </select>
    
</mapper>